! WIZZDOM's Theme for SXMO
! ========================


Xft.antialias:	true
Xft.dpi:	192
Xft.hinting:	true
Xft.hintstyle:	hintslight
Xft.rgba:	rgb

! dmenu settings
dmenu.font:	FiraMono Nerd Font:size=14
! Normal 
dmenu.foreground: #F1F1F1
dmenu.background: #1A1A1A
! Current active item
dmenu.selforeground: #FFFFFF
dmenu.selbackground: #40A4FF
!Letters matching search string
dmenu.highlightforeground: #FFFFFF
dmenu.highlightbackground: #40A4FF
!Letters matching search string while item is active
dmenu.selhighlightforeground: #FFFFFF
dmenu.selhighlightbackground: #40A4FF
!Selected entries with Ctrl-Enter
dmenu.outforeground: #FFFFFF
dmenu.outbackground: #AE3F3E

! dwm settings:

dwm.font:	FiraMono Nerd Font:size=14
dwm.foreground: #F1F1F1
dwm.background: #1A1A1A
dwm.selforeground: #F1F1F1
dwm.selbackground: #40A4FF

st.font:	FiraMono Nerd Font:size=12

svkbd.font:	Sans:bold:size=12


